!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "/js/jquery-ui/jquery-ui.custom.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %title Leechmarks
      
  %body
    %div.forkmeholder
      %div.forkme
        %a{:href => "http://github.com/yourcelf/leechmarks"} Fork me on GitHub!
    %div{:style => "text-align: center;"}
      %h1 Leechmarks
      %p This is a small collection of bookmarklets for social websites.
    #tabs.ui-widget-content
      %ul.tablinks
        %li
          %a{:href=>"#tab1"} GraphFi
        %li
          %a{:href=>"#tab2"} ImgurReddit
        %li
          %a{:href=>"#tab3"} JaxyChan (experimental)
      #tab1.tab
        %div.about
          :markdown
            GraphFi is a visualization/navigation tool for [metafilter][].  It
            displays a chart indicating the number of times a comment has
            been favorited and the reply/quoting relationships between
            comments.  It also inserts anchor links and replies into the 
            comment feed to assist with "threading".

            [metafilter]: http://metafilter.com

        %p 
          Drag this bookmarklet to your bookmarks bar, or right-click and "bookmark this".
          %br
          &rarr;
          %a#graphfibookmarklet.button{:href => "javascript:void((function(){var s=document.createElement('script');s.type='text/javascript';s.src='http://media.mit.edu/~cfd/graphfi/bm.js';document.getElementsByTagName('head')[0].appendChild(s);})())", :title => "Bookmark Me"} GraphFi
          &larr;
          %br
        %div.about
          %p
            When in a metafilter discussion, click it to augment the page.  Works
            on any metafilter post page (talk, blue, green, etc); most useful in
            larger threads (50+ comments).

          %p
            NOTE: will not function properly in Internet Explorer less than version 9-beta.

        %p
          %img{:src => relative_path_to("/img/graphfi.png"), :alt=>"hot"}
        
      #tab2.tab
        %p 
          Pulls all images from image links directly into the reddit page.  Reduces clicks.  To use:
        %p 
          Drag bookmarklet to your bookmarks bar, or right-click and "bookmark this".
          %br
          &rarr; 
          %a#imgurreditbookmarklet.button{:href => "#", :title => "Bookmark Me"} ImgurReddit 
          &larr;
          %br
          == When on #{link_to "reddit", "http://reddit.com"}, click.  Win.  Works on any subreddit.
        %p 
          %img{:src => relative_path_to("/img/imgurreditrage.png"), :alt=>"yeah"}
          


      #tab3.tab
        .about
          %p 
            Warning: This is experimental and it will peg your processor.  Only
            runs unreasonably in modern, fast browsers (FF 4+, Chrome 10+, etc).
            Unless your boxen is a beast, not quite so functional on heavier
            traffic boards like /b/, even with the latest browsers.

          %p
            This was intended as a "sit back and watch the flood" version of
            4chan.  It automatically polls and pulls in 
            %em every single comment and post
            to a particular board in real time.  Go to the board, click the
            bookmarklet, and watch the flood turn your scrollbar into a tiny
            dot.
        %p
          Drag bookmarklet to your bookmarks bar, or right-click and "bookmark this".
          %br
          &rarr;
          %a#jaxychanbookmarklet.button{:href => "javascript:void((function(){var s=document.createElement('script');s.type='text/javascript';s.src='http://media.mit.edu/~cfd/jaxy/bm.js';document.getElementsByTagName('head')[0].appendChild(s);})())", :title => "Bookmark Me"} JaxyChan
          &larr;
          %br
          When on a 4chan board, click it to get jaxed.

        %p
          %img{:src => relative_path_to("/img/jaxychan.png"), :alt=>"what"}

    %script{:type => "text/javascript", :src => "/js/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/jquery-ui/jquery-ui.custom.min.js"}
    %script{:type => "text/javascript"}
      $("#tabs").tabs();
    %script{:type => "text/javascript"}
      :plain
        var src = ['javascript:void((function($) {',
          'var v = [];',
          '$("a").each(function(i,e){',
            'var h = $(e).attr("href");',
            'var src;',
            'if (h && $.inArray(h.split(".").pop().toLowerCase(), ["gif", "jpg", "jpeg", "png"]) != -1) {', 
              'src=h;',
            '} else if (h && h.indexOf("imgur") != -1) {',
              'src=h+".jpg";',
            '}',
            'if (src && $.inArray(src, v) == -1){',
              'var img = $("<img/>").attr("src",src);',
              '$(img).load(function() {',
                'var x = $(this).width();',
                'if (x > 800) {',
                  '$(this).css({"width":"800px","height":$(this).height()/x*800+"px"});',
                '}',
                '$(this).show();',
              '});',
              '$(e).before($("<a/>").attr("href", h).append(img, "<br/>"));',
              'v.push(src);',
            '}',
          '})',
        '})(jQuery))'].join("");

        var hashes = {};
        $(document).ready(function() {
            $("ul.tablinks li a").each(function(i, el) {
                hashes[$(el).attr("href").substring(1)] = $(el).html().split(" ")[0].toLowerCase();
            });
            var hash = window.location.hash.substring(1);
            for (var tab in hashes) {
              if (hashes[tab] == hash) {
                $("#tabs").tabs("select", "#" + tab);
                break;
              }
            }
        });
        document.getElementById('imgurreditbookmarklet').href = src;
        $("#tabs").bind("tabsselect", function(event, ui) { 
            console.log(ui.tab.hash);
            window.location.hash = hashes[ui.tab.hash.substring(1)];
        });

