#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.

require 'compass'
Compass.add_project_configuration('compass/config.rb')
compile '/css/*/' do
    filter :sass, Compass.sass_engine_options
end
route '/css/*/' do
  item.identifier.chop + '.css'
end


compile '*' do
  filter :haml
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml
